/* universal styles */
body {
  font-family: "Helvetica", sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  margin: 0;
  text-align: center;
}

div {
  border: 1px solid white;
}

a {
  color: seashell;
  padding: 10px;
}

h2 {
  display: block;
}

/*universal styles main content */
.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* header */


header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-top: 9px;
  padding-bottom: 10px;
  height: 69px;
  width: 100%;
  position:fixed;
  background-color: black;
}

header img {
  height: 50px;
  padding-left: 10px;
}

header nav {
  padding-right: 10px;
  text-align: right;
}

nav span {
  display: inline-block;
}

/* main content container */
.content {
  display: flex;
  flex-direction: column;
  }

/* text content */
.text-content {
  background-color: black;
}
/*mission container */
.mission {
  background-image: url("../images/img-mission-background.jpg");
  height: 700px;
  flex-direction: column;
}

.tea-of-the-month {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.teas img{
  width: 300px;
  height: 200px;
}

.teas span {
  display: block;
    padding: 5px;
    font-weight: bold;
    text-align: center;
}

.locations .flex-container {
  display:flex;
  flex-direction: row;
}

/* copyright section*/
.copyright {
  text-align: left;
}
