/* universal styles */
body {
  font-family: "Helvetica", sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  margin: 0;
  text-align: center;
}

div {
  border: 1px solid white;
}

a {
  color: seashell;
  padding: 10px;
}

h2 {
  display: block;
}

/*universal styles main content */
.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* header */


.header {
  align-items: center;
  padding-left: 10px;
  padding-top: 9px;
  padding-bottom: 10px;
  justify-content: space-between;
}

.header img {
  height: 50px;
  padding-left: 10px;
}

header nav {
  padding-right: 10px;
  text-align: right;
}

/* main content container */
.content {
  display: flex;
  flex-direction: column;
  }

/* text content */
.text-content {
  background-color: black;
}
/*mission container */
.mission {
  background-image: url("../images/img-mission-background.jpg");
  height: 700px;
  flex-direction: column;
}

.teas-of-the-month {
  display: flex;
  flex-direction: row;
}

/* copyright section*/
.copyright {
  text-align: left;
}
